name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
    - name: Install Gradle
      run: wget https://services.gradle.org/distributions/gradle-7.0-bin.zip -O /opt/gradle.zip && unzip /opt/gradle.zip && export PATH=$PATH:/opt/gradle/gradle-7.0/bin
    - name: Install dependencies
      run: bundle install
    - name: Run checks 
      run: bundle exec rake
    - name: Send coverage report to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
